

.navbar {
	background-color: #98dafc;
	height: 50px;
	margin: 0px;
}

.navbar a{
	text-decoration: none;
	display: inline-block;
	padding: 10px;
}

.navbar a:hover{
	color: pink;
}

.body {
	text-align: center;
	background-color: #312c32;
	font-family: "Ubuntu";
	margin:0 ;
	color: #405b6a;
}

div h2 {
	font-size: 4.5em;
	letter-spacing: -2px;
}

.footer {
	background-color: #98dafc;
}